<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.qydata.mapper.ApiCostMapper">


    <resultMap id="ApiCost_Map" type="org.qydata.po.ApiCost">
        <result column="apiId" property="apiId"/>
        <result column="years" property="years"/>
        <result column="months" property="months"/>
        <result column="days" property="days"/>
        <result column="totleCost" property="totleCost"/>
        <result column="usageAmount" property="usageAmount"/>
        <result column="feeAmount" property="feeAmount"/>
    </resultMap>

    <!--统计-->
    <select id="queryApiConsume" parameterType="map" resultMap="ApiCost_Map">
        SELECT a.apiId,a.years,a.months,a.days,a.totleCost,a.usageAmount,ifnull(b.feeAmount,0) feeAmount
        FROM
        (
            SELECT
            DATE_FORMAT(b.createTime,'%Y') years,
            DATE_FORMAT(b.createTime,'%m') months,
            DATE_FORMAT(b.createTime,'%d') days,
            a.apiId,sum(b.cost) totleCost,count(a.id) usageAmount
            FROM qydata.ApiRequestLog a
            INNER JOIN qydata.ApiResponseLog b ON a.id = b.requestLogId
            WHERE b.ok = 1
            AND b.isMock = 0
            <if test="beginDate != null and beginDate != ''" >
                AND b.createTime >= #{beginDate}
            </if>
            <if test="endDate != null and endDate != ''" >
                <![CDATA[
                AND b.createTime < #{endDate}
                ]]>
            </if>
            GROUP BY a.apiId
        ) a
        LEFT JOIN
        (
            SELECT a.apiId,count(a.id) feeAmount
            FROM qydata.ApiRequestLog a
            INNER JOIN qydata.ApiResponseLog b ON a.id = b.requestLogId
            WHERE b.ok = 1
            AND b.cost > 0
            AND b.isMock = 0
            <if test="beginDate != null and beginDate != ''" >
                AND b.createTime >= #{beginDate}
            </if>
            <if test="endDate != null and endDate != ''" >
                <![CDATA[
                AND b.createTime < #{endDate}
                ]]>
            </if>
            GROUP BY a.apiId
        ) b ON a.apiId = b.apiId
    </select>

    <insert id="insertApiConsume" parameterType="list">
        INSERT INTO qyfinance.ApiCostDayCount(year,month,day,apiId,totleCost,usageAmount,feeAmount,consuTime)
        VALUES
        <foreach collection="list" item="apiCost" index="index" separator=",">
            (
            #{apiCost.years},#{apiCost.months},#{apiCost.days},
            #{apiCost.apiId},#{apiCost.totleCost},#{apiCost.usageAmount},
            #{apiCost.feeAmount},#{apiCost.consuTime}
            )
        </foreach>
    </insert>

    <delete id="deleteApiConsume" parameterType="map">
        DELETE FROM qyfinance.ApiCostDayCount
        <where>
            <if test="consuTime != null and consuTime != ''">
                consuTime = #{consuTime}
            </if>
        </where>
    </delete>

</mapper>